html {
	font: 15px/1.5 "Open Sans", Arial, sans-serif;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
	width: 300px;
	padding: 5px;
	border: 1px solid grey;
	color: black;
	transition: 0.3s;
	font-size: 20px;
	margin: 5px;
}

button:hover, input:hover {
	border-color: #0077FF;
	transition: 0.3s;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: none;
}

input[type=text] {
	border: 1px solid grey;
	padding: 5px;
	font-size: 20px;
	margin: 5px;
	width: 300px;
}

input:focus {
	border-color: #0077FF;
	outline: none;
	transition: 0.3s;
}

.scene {
	display: none;
}

#newWorld {
	text-align: center;
}

#newWorld input {
	text-align: center;
}

label {
	font-size: 20px;
}