/* Global */

html {
	font: 15px/1.5 "Open Sans", Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

/* Game View */

#game-view {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
}

#map-view {
	padding: 10px;
	display: inline-block;
}

#map {
	border: 1px solid black;
}

#info {
	position: absolute;
	padding: 10px;
	margin-left: 50px;
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#map td {
	margin: 0;
	border: 2px solid black;
	padding: 0;
	background-color: #96B6FF;
	width: 64px;
	height: 64px;
}