#map td {
	top: -1px;
	margin: 0;
	border: 1px solid black;
	padding: 0;
	background-image: url(../img/land/placeholder.png);
	background-size: cover;
	width: 80px;
	height: 80px;
}

#map .selected {
	border: 1px solid #76D3FE;
}

/* Plains | ID = 0*/

#map td[data-cellid="0"] {
	background-image: url(../img/land/plains.png);
	background-size: cover;
}
